[submodule "HADDOCK-antibody-antigen"]
	path = HADDOCK-antibody-antigen
	url = https://github.com/haddocking/HADDOCK-antibody-antigen
[submodule "haddock-tools"]
	path = haddock-tools
	url = https://github.com/haddocking/haddock-tools
