[submodule "haddock-tools"]
	path = haddock-tools
	url = https://github.com/haddocking/haddock-tools
[submodule "haddock-antibody"]
	path = haddock-antibody
	url = https://github.com/antonkulaga/HADDOCK-antibody-antigen
